* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: helvetica;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.fa-caret-down {
  margin: .20em .60em .20em .40em;
}

.wrapper {
  min-width: 1000px;
  overflow: hidden;
  margin: 0;
}
.wrapper header {
  height: 580px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper header nav {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper header nav #logo {
  width: 6.5em;
  margin-right: 2em;
}
.wrapper header nav .left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.wrapper header nav .left-menu h5 {
  cursor: pointer;
  margin: 0 1em;
}
.wrapper header nav .left-menu h5:hover {
  color: #db0000;
}
.wrapper header nav .right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.wrapper header nav .right-menu h5 {
  cursor: pointer;
}
.wrapper header nav .right-menu h5:hover {
  color: #db0000;
}
.wrapper header nav .right-menu .fa-search {
  margin-right: .50em;
}
.wrapper header nav .right-menu .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.2em;
}
.wrapper header nav .right-menu .user img {
  width: 3em;
  height: 3em;
  margin-right: 1em;
}
.wrapper header .description {
  color: white;
  width: 400px;
  margin: auto 0;
  padding-left: 1.5em;
}
.wrapper header .description p {
  line-height: 1.3;
  letter-spacing: .1em;
  font-size: .90em;
}
.wrapper header .description button {
  font-size: .85em;
  padding: .40em 1em;
  color: white;
  border-radius: .1em;
}
.wrapper header .description .play {
  background-color: #db0000;
  border: solid 1px #db0000;
}
.wrapper header .description .play:hover {
  background-color: #c20000;
}
.wrapper header .description .add {
  background: rgba(26, 26, 26, 0.7);
  border: solid 1px rgba(128, 128, 128, 0.7);
}
.wrapper header .description .add:hover {
  background-color: rgba(38, 38, 38, 0.7);
}
.wrapper main {
  background: #0a0a0a;
  padding: .60em 1em 2em;
}
.wrapper main section {
  padding-bottom: 1em;
}
.wrapper main section h3 {
  margin: 0;
  font-weight: 200;
  color: white;
  font-size: .98em;
}
.wrapper main section .multiple-items {
  position: relative;
  margin: 1em 0;
}
.wrapper main section .multiple-items .fa-chevron-left {
  cursor: pointer;
  font-size: 1.2em;
  color: #db0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 40px;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper main section .multiple-items .fa-chevron-right {
  cursor: pointer;
  color: #db0000;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 40px;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper main section .multiple-items img {
  margin: 0 .15em;
}
.wrapper main section .multiple-items img:focus {
  outline-color: #db0000;
}
.wrapper main section .tv-shows {
  position: relative;
}
.wrapper main section .tv-shows .fa-chevron-left {
  cursor: pointer;
  font-size: 1.2em;
  color: #db0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 40px;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper main section .tv-shows .fa-chevron-right {
  cursor: pointer;
  color: #db0000;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 40px;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper main section .tv-shows img {
  height: 17em;
  margin: .50em .10em;
}
.wrapper main section .tv-shows img:focus {
  outline-color: #db0000;
}
