$main-color: rgb(219,0,0);
$bcknd-clr: rgba(0,0,0,.7);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$main-bck: rgb(10,10,10);
*{
  box-sizing:border-box;
}
body{
  margin:0;
  font-family:helvetica;
  overflow-x:hidden;
}
img{
  width:100%;
  height:100%;
}
.fa-caret-down{
  margin:.20em .60em .20em .40em;
}
//===============
//    HEADER
//==============
.wrapper{
  min-width:1000px;
  overflow:hidden;
  margin:0;
  header{
    height:580px;
    background:-webkit-linear-gradient(0deg,rgba($black,.8) 45%,rgba($white,.0)), url("https://art-s.nflximg.net/671e5/4c310502f5bb23f89e1e278f69ad61ea238671e5.jpg")no-repeat center top;
    background-size:cover;
    display:flex;
    flex-direction:column;
    nav{
      background:$bcknd-clr;
      color:$white;
      padding:0 1.4em;
      display:flex;
      align-items:center;
      #logo{
        width:6.5em;
        margin-right:2em;
      }
      .left-menu{
        display:flex;
        align-items:baseline;
        h5{
          cursor:pointer;
          margin:0 1em;
          &:hover{
            color:$main-color;
          }
        }
      }
      .right-menu{
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-left:auto;
        h5{
          cursor:pointer;
          &:hover{
            color:$main-color;
          }
        }
        .fa-search{
          margin-right:.50em;
        }
        .user{
          display:flex;
          align-items:center;
          margin:0 1.2em;
          img{
            width:3em;
            height:3em;
            margin-right:1em;
          }
        }
      }
    }
    .description{
      color:$white;
      width:400px;
      margin:auto 0;
      padding-left:1.5em;
      p{
        line-height:1.3;
        letter-spacing:.1em;
        font-size:.90em;
      }
      button{
        font-size:.85em;
        padding:.40em 1em;
        color:$white;
        border-radius:.1em;
      }
      .play{
        background-color:$main-color;
        border:solid 1px $main-color;
        &:hover{
          background-color:darken($main-color,5%);
        }
      }
      .add{
        background:lighten($bcknd-clr,10%);
        border:solid 1px lighten($bcknd-clr,50%);
        &:hover{
          background-color:lighten($bcknd-clr,15%);
        }
      }
    }
  }
  //==============
  //    MAIN
  //==============
  main{
    background:$main-bck;
    padding:.60em 1em 2em;
    section{
      padding-bottom:1em;
      h3{
        margin:0;
        font-weight:200;
        color:$white;
        font-size:.98em;
      }
      .multiple-items{
        position:relative;
        margin:1em 0;
        .fa-chevron-left{
          cursor:pointer;
          font-size:1.2em;
          color:$main-color;
          position:absolute;
          top:0;
          bottom:0;
          left:0;
          z-index:100;
          width:40px;
          background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
          display:flex;
          justify-content:center;
          align-items:center;
        }
        .fa-chevron-right{
          cursor:pointer;
          color:$main-color;
          position:absolute;
          right:0;
          top:0;
          bottom:0;
          z-index:100;
          width:40px;
          background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
          display:flex;
          justify-content:center;
          align-items:center;
        }
        img{
          margin:0 .15em;
          &:focus{
            outline-color:$main-color;
          }
        }
      }
      .tv-shows{
        position:relative;
        .fa-chevron-left{
          cursor:pointer;
          font-size:1.2em;
          color:$main-color;
          position:absolute;
          top:0;
          bottom:0;
          left:0;
          z-index:100;
          width:40px;
          background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
          display:flex;
          justify-content:center;
          align-items:center;
        }
        .fa-chevron-right{
          cursor:pointer;
          color:$main-color;
          position:absolute;
          right:0;
          top:0;
          bottom:0;
          z-index:100;
          width:40px;
          background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
          display:flex;
          justify-content:center;
          align-items:center;
        }
        img{
          height:17em;
          margin:.50em .10em;
          &:focus{
            outline-color:$main-color;
          }
        }
      }
    }
  }
}


//=========================
//  SLICK CAROUSEL ARROWS
//=========================
// .fa-arrow-left, .fa-arrow-right{
//   color:red;
//   margin:.30em 0;
//   cursor:pointer;
// }